@font-face {
  font-family: 'ir-icon';
  src: url('../fonts/ir-icon.eot?5g13gd');
  src: url('../fonts/ir-icon.eot?5g13gd#iefix') format('embedded-opentype'), url('../fonts/ir-icon.ttf?5g13gd') format('truetype'), url('../fonts/ir-icon.woff?5g13gd') format('woff'), url('../fonts/ir-icon.svg?5g13gd#ir-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ir-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-home:before {
  content: "\e900";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-images:before {
  content: "\e90e";
}
.icon-books:before {
  content: "\e920";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-user:before {
  content: "\e971";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-search:before {
  content: "\e986";
}
.icon-wrench:before {
  content: "\e991";
}
.icon-cog:before {
  content: "\e994";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-bookmarks:before {
  content: "\e9d3";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-ctrl:before {
  content: "\ea50";
}
.ir-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 240px;
  height: 100%;
  color: #fff;
  background-color: #424f63;
}
.ir-sidebar-top {
  height: 70px;
  padding: 5px 0 15px 10px;
}
.ir-logo {
  display: block;
  width: auto;
  height: 70px;
}
.ir-menu-item a {
  display: block;
  padding: 12px 30px;
  line-height: 20px;
  font-size: 15px;
  color: #fff;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}
.ir-menu-item a:hover {
  color: #65cea7;
  background-color: #353f4f;
  border-top-color: rgba(255, 255, 255, 0.1);
  border-bottom-color: rgba(255, 255, 255, 0.1);
}
.ir-menu-item a.active {
  color: #65cea7;
  background-color: #353f4f;
}
.ir-sidebar [class^="icon-"],
.ir-sidebar [class*=" icon-"] {
  margin-right: 10px;
  vertical-align: middle;
  font-size: 20px;
}
.ir-header {
  position: fixed;
  top: 0;
  left: 240px;
  right: 0;
  z-index: 100;
  height: 50px;
  background-color: #fff;
  border-bottom: 1px solid #eff0f4;
}
.ir-header-admin {
  float: right;
  position: relative;
  height: 50px;
  margin-right: 15px;
  padding: 0 8px;
  color: #333;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  cursor: pointer;
}
.ir-header-admin:hover {
  color: #65cea7;
  background-color: #424f63;
}
.ir-header-admin img {
  width: 30px;
  height: 25px;
  margin-top: 12px;
  vertical-align: top;
}
.ir-header-admin .ir-header-admin-name {
  font-size: 13px;
}
.ir-header-admin .icon-play3 {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  line-height: 50px;
  font-size: 10px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.ir-header-menu {
  position: absolute;
  right: 0;
  top: 100%;
  min-width: 200px;
  padding: 5px;
  background-color: #65cea7;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.ir-header-menu a {
  display: block;
  padding: 7px 10px;
  line-height: 20px;
  font-size: 13px;
  color: #fff;
}
.ir-header-menu::after {
  content: '';
  position: absolute;
  right: 10px;
  top: -12px;
  border-style: solid;
  border-color: transparent transparent #65cea7 transparent;
  border-width: 6px;
}
.ir-header-menu [class^="icon-"],
.ir-header-menu [class*=" icon-"] {
  margin-right: 5px;
  vertical-align: middle;
  font-size: 18px;
}
.ir-footer {
  position: fixed;
  left: 240px;
  right: 0;
  bottom: 0;
  height: 50px;
  padding-right: 10px;
  line-height: 50px;
  text-align: right;
  font-size: 13px;
  color: #7a7676;
  border-top: 1px solid #eff0f4;
  background-color: #fff;
}
body,
html {
  font-family: PingFangSC-Light, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
