.ir-news-header{
  padding-left: 10px;
  margin-bottom: 8px;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #d9534f;
  font-weight: 700;
}

.ir-news-time{
  padding-right: 10px;
  text-align: right;
  font-size: 12px;
}

.ir-news-detail{
  overflow: hidden;
  height: 100px;
  line-height: 25px;
  font-size: 13px;
  text-align: justify;
}

.ir-news-author{
  margin-top: 8px;
  font-size: 13px;
  span{
    font-weight: 700;
  }
}

.ir-news-toolbar{
  text-align: right;
  margin-top: 15px;
  a{
    margin-left: 5px;
    font-size: 15px;
    color: #999;
  }
}